global:
  scrape_interval: 15s
  evaluation_interval: 15s
  scrape_timeout: 10s

scrape_configs:
  - job_name: renderer
    metrics_path: /metrics
    static_configs:
      - targets:
          - "host.docker.internal:8080"

  - job_name: node
    static_configs:
      - targets:
          - "node_exporter:9100"
